<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="First Direct">
        <meta name="author" content="TLC Marketing">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>first direct</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet">
        
		<!-- Home styles for this template -->
        <link href="../css/_faq.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body class="faq-page" data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">
                
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="index.html">
                    <img src="../images/logo_224x38.svg" width="224px" height="35" alt=""/> </a> 
                </div>
                <!-- end navbar-header -->
                
                 
                
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->
        
   
<section>
			<div class="head-heading">
            	<div class="container">
                	<h2><span><strong>A few questions</strong></span><br /><span><strong>answered</strong></span></h2>
                </div>	
            </div>        
        </section>
        
<section class="welcome-section">
			<div class="container">
            	<div class="row">
                  <div class="col-sm-12">
                    <div class="inner-div">
               	      
                      <h4>Registration</h4>
                      
                      <p data-toggle="collapse" data-target="#q1" class="fque">Am I eligible for a welcome gift?</p>
                      <div id="q1" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#q2" class="fque">When can I register for my welcome gift?</p>
                      <div id="q2" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#q3" class="fque">Where do I register?</p>
                      <div id="q3" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#q4" class="fque">How do I register?</p>
                      <div id="q4" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#q5" class="fque">I’ve tried to register  but something’s gone wrong, help!</p>
                      <div id="q5" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#q6" class="fque">I have registered, but I have not received my confirmation email?</p>
                      <div id="q6" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                       <p data-toggle="collapse" data-target="#q7" class="fque">What do I do if I’ve lost or accidentally deleted the email containing the code I need to claim my gift?</p>
                      <div id="q7" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                       
                      
                      
                      
                      
                      
                      <div class="section-gap"></div>
                      
                      
                      
                      
                      <h4>Choosing my gift</h4>
                      
                      <p data-toggle="collapse" data-target="#gq1" class="fque">When will I be able to choose my gift?</p>
                      <div id="gq1" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq2" class="fque">What do I need to do to claim my gift?</p>
                      <div id="gq2" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq3" class="fque">What if I don't claim my gift in time?</p>
                      <div id="gq3" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq4" class="fque">What are the gift choices?</p>
                      <div id="gq4" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq5" class="fque">Which colors and sizes are available?</p>
                      <div id="gq5" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      
                      
                      <p data-toggle="collapse" data-target="#gq6" class="fque">Can I exchange my gift for a different one, if I change my mind?</p>
                      <div id="gq6" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq7" class="fque">Can I return the gift I chose if I don't like it? </p>
                      <div id="gq7" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq8" class="fque">Can I change my delivery address?</p>
                      <div id="gq8" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq9" class="fque">How long do I have to wait for my delivery?</p>
                      <div id="gq9" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      
                      
                      <p data-toggle="collapse" data-target="#gq10" class="fque">Can I track my delivery?</p>
                      <div id="gq10" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq11" class="fque">My gift has arrived and it is faulty, what do I do?</p>
                      <div id="gq11" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      <p data-toggle="collapse" data-target="#gq12" class="fque">I'm confused, can you help?</p>
                      <div id="gq12" class="collapse fans">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                      
                      
                      
                      
                      
                      
                      
                    </div>
                  </div>
                  
                </div>  	
          </div>        
    </section>
        
        
         
        

        
        <!-- FOOTER -->
        <footer class="section bg-gray footer">
            
                <div class="container">
               	<div class="row">
                	<div class="col-sm-9">
                    	<ul class="footer-link">
                        	<li><a href="#">Answers to your questions</a></li>
                            <li><a href="#">The legal bit</a></li>
                            <li><a href="#">About privacy</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    	
                    </div>
                    <div class="col-sm-3 text-right">
                    	<img alt="" src="../images/f-bg-right.png">
                    </div>        

                </div> <!-- end container --> 
            </div> <!-- end row -->

        </footer>
        <!-- END FOOTER -->
        

        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>


      <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <!-- Jquery easing -->                                                      
        <script type="text/javascript" src="../js/jquery.easing.1.3.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="../js/jquery.sticky.js"></script>

        <!-- mailchimp - ajax form -->
        <script type="text/javascript" src="../js/jquery.ajaxchimp.js"></script>

        <!--common script for all pages-->
        <script src="../js/jquery.app.js"></script>

    </body>
</html>