<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="First Direct">
        <meta name="author" content="TLC Marketing">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>first direct</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet">

        
		<!-- Home styles for this template -->
        <link href="../css/_life-changing.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>



    <body class="life-changing-page" data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">
                
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="index.html">
                    <img src="../images/logo_224x38.svg" width="224px" height="35" alt=""/> </a> 
                </div>
                <!-- end navbar-header -->
                
                 
                
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->
        
   
<section class="header">
    <div class="container">
        <img src="../images/life-changing-header.jpg" alt=""/>
    </div>
</section>
        
<section class="welcome-section">
			<div class="container">
            	<div class="row">
                  <div class="col-sm-12">
                    <div class="inner-div">
               	      <h3>Life-changing courses</h3>
                         <p>We’ve teamed up with leading online training provider, Blue Mountain, to offer first direct customers access to a wide range of courses. Whatever you’re into, chances are we’ll have a study option for you – from coding and programming through to hypnotherapy, beer brewing and pet psychology. (Actually, it’s probably easier to list the courses we don’t offer.)</p>

                        <p>To check out all the courses available and details of what you can expect from each course, you’ll need to visit our own section of the <a href="#" style="text-decoration:underline;"><strong>Blue Mountain</strong> website</a>.</p>

                        <p>If you see a course you like, simply return to this page and click ‘Choose.’</p>
                        <div class="btn-area">               
                          <a href="#" class="choose-btn">Choose</a>
                        </div>
                        </div>
                        
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="inner-div">
                    	 <h3>What happens next?</h3>
                         <p>Opt for one of our personal development courses and we’ll send you a confirmation email containing your e-voucher which will allow you to book online.</p>
                         
                    </div>
                  </div>
                </div>  	
          </div>        
    </section>
        
        <!-- FOOTER -->
        <footer class="section bg-gray footer">
            
                <div class="container">
               	<div class="row">
                	<div class="col-sm-9">
                    	<ul class="footer-link">
                        	<li><a href="#">Answers to your questions</a></li>
                            <li><a href="#">The legal bit</a></li>
                            <li><a href="#">About privacy</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    	
                    </div>
                    <div class="col-sm-3 text-right">
                    	<img alt="" src="../images/f-bg-right.png">
                    </div>        

                </div> <!-- end container --> 
            </div> <!-- end row -->

        </footer>
        <!-- END FOOTER -->
        

        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>