<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="First Direct">
        <meta name="author" content="TLC Marketing">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>first direct</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet">

        
		<!-- Home styles for this template -->
        <link href="../css/_life-changing.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>



    <body class="life-changing-page" data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">
                
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="index.html">
                    <img src="../images/logo_224x38.svg" width="224px" height="38" alt=""/> </a> 
                </div>
                <!-- end navbar-header -->
                
                 
                
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->
        
   
<section class="header">
    <div class="container">
        <img src="../images/life-changing-header.jpg" alt=""/>
    </div>
</section>
        
<section class="welcome-section">
			<div class="container">
            	<div class="row">
                  <div class="col-sm-12">
                    <div class="inner-div">
               	      <h3>Lorem Ipsum is simply dummy text of the printing and types</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci dui, egestas eu mi at, feugiat molestie felis. Aenean luctus finibus elit, sit amet iaculis sem euismod vel. Duis enim purus, ultrices et arcu quis, viverra egestas risus. Integer lacinia semper nunc, quis suscipit lacus porta sed. Integer vulputate pretium nisi quis tristique. Mauris viverra ex non dignissim suscipit. In ac vestibulum tortor, eu consequat orci. Aliquam id massa quam. Sed nulla sapien, tincidunt sed diam.</p>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="inner-div">
                    	 <h3>Lorem Ipsum is simply dummy text of the printing and types</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci dui, egestas eu mi at, feugiat molestie felis. Aenean luctus finibus elit, sit amet iaculis sem euismod vel. Duis enim purus, ultrices et arcu quis, viverra egestas risus. Integer lacinia semper nunc, quis suscipit lacus porta sed. Integer vulputate pretium nisi quis tristique. Mauris viverra ex non dignissim suscipit. In ac vestibulum tortor, eu consequat orci. Aliquam id massa quam. Sed nulla sapien, tincidunt sed diam.</p>
                         
                    </div>
                  </div>
                </div>  	
          </div>        
    </section>
        
        
         
        

        
        <!-- FOOTER -->
        <footer class="section bg-gray footer">
            
                <div class="container">
               	<div class="row">
                	<div class="col-sm-9">
                    	<ul class="footer-link">
                        	<li><a href="#">Things you may ask</a></li>
                            <li><a href="#">The legal bit</a></li>
                            <li><a href="#">About privacy</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    	
                    </div>
                    <div class="col-sm-3 text-right">
                    	<img alt="" src="../images/f-bg-right.png">
                    </div>        

                </div> <!-- end container --> 
            </div> <!-- end row -->

        </footer>
        <!-- END FOOTER -->
        

        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>