<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="First Direct">
        <meta name="author" content="TLC Marketing">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>first direct</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet">

        <!-- Color style -->
        <link href="../css/colors/default.css" rel="stylesheet">
        
		<!-- Home styles for this template -->
        <link href="../css/_product.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body class="product-page" data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="index.html">
                        <img src="../images/logo_224x38.svg" width="224px" height="38" alt=""/>
                    </a> 
                </div>
                <!-- end navbar-header -->
                
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right custom-nav">
                    
                </ul>
            </div>
                
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->
        
   <section class="breadcrumb-section">
     <div class="container">
       	<ol class="breadcrumb">
<!--
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Product</li>
-->
		</ol>
     </div>
   </section>     
        
        <section>
			<div class="product-head-heading">
            	<div class="container">
                	<h2>Product Title Will go here</h2>
                </div>
            </div>        
        </section>
        
        <section class="welcome-section">
			<div class="container">
            	<div class="row">
                  <div class="col-sm-7">
                    <div class="inner-div thumb">
               	      <img src="../images/product/product1.jpg" alt=""/>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="inner-div">
                                            	 <h3>Feature At Glance</h3>
                         <ul>
                           <li>Lorem ipsum dolor sit ame</li>
                           <li>Lorem ipsum dolor sit ame</li>
                           <li>Lorem ipsum dolor sit ame</li>
                           <li>Lorem ipsum dolor sit ame</li>
                           <li>Lorem ipsum dolor sit ame</li>
                           <li>Lorem ipsum dolor sit ame</li>
                         </ul>
                    	 
                    </div>
                  </div>
                </div>  	
            </div>        
        </section>
        
        
         <section class="testimonial-section">
			<div class="container">
            	<div class="row">
                  <div class="col-sm-8">
                    <div class="inner-div">
                        <h3>Lorem Ipsum is simply dummy text of the printing and types</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci dui, egestas eu mi at, feugiat molestie felis. Aenean luctus finibus elit, sit amet iaculis sem euismod vel. Duis enim purus, ultrices et arcu quis, viverra egestas risus. Integer lacinia semper nunc, quis suscipit lacus porta sed. Integer vulputate pretium nisi quis tristique. Mauris viverra ex non dignissim suscipit. In ac vestibulum tortor, eu consequat orci. Aliquam id massa quam. Sed nulla sapien, tincidunt sed diam.</p>
                         <p><a class="choose-btn" href="#">Choose Reward</a></p>
                         <h3>Lorem Ipsum is simply dummy text of the printing and types</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci dui, egestas eu mi at, feugiat molestie felis. Aenean luctus finibus elit, sit amet iaculis sem euismod vel. Duis enim purus, ultrices et arcu quis, viverra egestas risus. Integer lacinia semper nunc, quis suscipit lacus porta sed. Integer vulputate pretium nisi quis tristique. Mauris viverra ex non dignissim suscipit. In ac vestibulum tortor, eu consequat orci. Aliquam id massa quam. Sed nulla sapien, tincidunt sed diam.</p>
                       
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="inner-div feature">
                         <h3>Reviews/Testimonials</h3>
                      <p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci dui, egestas eu mi at, feugiat molestie felis. Aenean luctus finibus elit, sit amet iaculis sem euismod vel. Duis enim purus, ultrices et arcu quis, viverra egestas risus."</i><br>
                      <span class="star"><img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/grey-star.jpg" alt=""/></span>
                      <span class="author-name">Tech Rader</span>
                      </p>
                      
                      <p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut orci dui, egestas eu mi at, feugiat molestie felis. Aenean luctus finibus elit, sit amet iaculis sem euismod vel. Duis enim purus, ultrices et arcu quis, viverra egestas risus."</i><br>
                      <span class="star"><img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/black-star.jpg" alt=""/> <img src="../images/product/grey-star.jpg" alt=""/></span>
                      <span class="author-name">Tech Rader</span>
                      </p>

                    </div>
                  </div>
                </div>  	
            </div>        
        </section>
        
        
        
        
        <section class="gobak">
          <div class="container">
            <a href="#"><img src="../images/product/go-back.png" alt=""/></a>
          </div>
        </section>
        

        
        <!-- FOOTER -->
        <footer class="section bg-gray footer">
            
                <div class="container">
               	<div class="row">
                	<div class="col-sm-9">
                    	<ul class="footer-link">
                        	<li><a href="#">Answers to your questions</a></li>
                            <li><a href="#">The legal bit</a></li>
                            <li><a href="#">About privacy</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    	
                    </div>
                    <div class="col-sm-3 text-right">
                    	<img alt="" src="../images/f-bg-right.png">
                    </div>        

                </div> <!-- end container --> 
            </div> <!-- end row -->

        </footer>
        <!-- END FOOTER -->

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <!-- Jquery easing -->                                                      
        <script type="text/javascript" src="../js/jquery.easing.1.3.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="../js/jquery.sticky.js"></script>

        <!-- mailchimp - ajax form -->
        <script type="text/javascript" src="../js/jquery.ajaxchimp.js"></script>

        <!--common script for all pages-->
        <script src="../js/jquery.app.js"></script>

    </body>
</html>