<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="First Direct">
        <meta name="author" content="TLC Marketing">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>first direct</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet">
        
		<!-- Home styles for this template -->
        <link href="../css/_register.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body data-spy="scroll" data-target="#navbar-menu" class="register-page">

<div class="main-container">
        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">
                
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="index.html">
                    <img src="../images/logo_224x38.svg" width="224px" height="38" alt=""/> </a> 
                </div>
                <!-- end navbar-header -->
                
                 
                
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->

        <!-- Header title -->
        <section class="header-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3 class="welcome">Welcome</h3>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- END Header title -->
        
        <section class="subheader-title-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                      <h3 class="welcome">Thanks for switching your banking to first direct, Register by filling in your details below,<br>and we'll follow up with details on how to claim your welcome gift.</h3>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- END Header title -->

        <!-- Contact Form -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <form name="regform" action="register_complete.html" method="post" class="contact-form">

                        <div class="col-sm-6 form-group">
                            <label>Forename</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Surname</label>
                            <input class="form-control" type="text"/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Email Address</label>
                            <input class="form-control" type="text"/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Confirm Email Address</label>
                            <input class="form-control" type="text"/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Postcode</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Activation Code</label>
                            <input class="form-control" type="text"/><br>
                            <span class="instruction">This is the code we emailed you</span>
                        </div>

                        <div class="col-xs-12 form-group">
                            <div class="agree">
                            <input id="checkBox" type="checkbox">
                            <label for="terms">Agree to the Terms &amp; Conditions</label>
                            </div>
                            
                        </div>
                        <!-- /Terms Checkbox -->
                        
                        
                        <div class="col-xs-12">
                                <div id="success-form" class="text-success" style="display: none;">E-mail was successfully sent.</div>
                                <div class="error text-center" id="err-form"></div>
                                <div class="text-left">
                                    <button type="submit" class="btn btn-custom" id="send">Register &gt;</button>
                                </div>
                            </div>


                        

                        </form>
                      
                    
                    
                     
                     <!-- /form -->
                    </div> <!-- end col -->

            </div> <!-- end container -->
        </section>
        <!-- End Contact Form -->

</div>

       <!-- FOOTER -->
        <footer class="footer">
            
                <div class="container">
               	<div class="row">
                	<div class="col-sm-9">
                    	<ul class="footer-link">
                        	<li><a href="#">Things you may ask</a></li>
                            <li><a href="#">The legal bit</a></li>
                            <li><a href="#">About privacy</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    	
                    </div>
                    <div class="col-sm-3 text-right">
                    	<img alt="" src="../images/f-bg-right.png">
                    </div>        

                </div> <!-- end container --> 
            </div> <!-- end row -->

        </footer>
        <!-- END FOOTER -->
        

        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>


      <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <!-- Jquery easing -->                                                      
        <script type="text/javascript" src="../js/jquery.easing.1.3.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="../js/jquery.sticky.js"></script>

        <!-- mailchimp - ajax form -->
        <script type="text/javascript" src="../js/jquery.ajaxchimp.js"></script>

        <!--common script for all pages-->
        <script src="../js/jquery.app.js"></script>

    </body>
</html>