<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="First Direct">
        <meta name="author" content="TLC Marketing">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>first direct</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="../css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet">

        
		<!-- Home styles for this template -->
        <link href="../css/_tech_gifts.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body class="tech-gift-page" data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">
                
                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="index.html">
                    <img src="../images/logo_224x38.svg" width="224px" height="38" alt=""/> </a> 
                </div>
                <!-- end navbar-header -->
                
                 
                
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->


<section class="header">
    <div class="container">
        <img src="../images/tech-gift-header.jpg" alt=""/>
    </div>
</section>

        <section class="welcome-section">
			<div class="container">
                	<div class="inner-div">
                         <p>If gadgets are your thing, then your perfect gift is right here. You can choose from the latest tech, including the incredible Amazon Echo, the voice activated wireless speaker with 360° immersive sound. Or, if health and wellbeing is your thing, you might opt for the Fitbit Charge 2, with a built-in heart monitor and multi-sport modes. We’ve also thrown in a great little action camera, a Bose speaker and some brilliant headphones, just to make choosing that much harder.</p>
                    </div>
                </div>        
        </section>
        
        <section class="tech-gifts">
        	<div class="container">
                <div class="row">
                	<div class="col-sm-4">
                    	<div class="post-div">
                        	 <div class="img-div">
                             	<img alt="" src="../images/p-img1.png">
                             </div>
                             <h4>Tech gift 1.</h4>
                             <p>Lorem Ipsum is simply dummy text of the printing and types, when an unknown printer took a galley of type and scrambled it.</p>
                             <a href="#" class="choose-btn">Go choose</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="post-div">
                        	 <div class="img-div">
                             	<img alt="" src="../images/p-img2.png">
                             </div>
                             <h4>Tech gift 2.</h4>
                             <p>Lorem Ipsum is simply dummy text of the printing and types, when an unknown printer took a galley of type and scrambled it.</p>
                             <a href="#" class="choose-btn">Go choose</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="post-div">
                        	 <div class="img-div">
                             	<img alt="" src="../images/p-img3.png">
                             </div>
                             <h4>Tech gift 3.</h4>
                             <p>Lorem Ipsum is simply dummy text of the printing and types, when an unknown printer took a galley of type and scrambled it.</p>
                             <a href="#" class="choose-btn">Go choose</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="post-div">
                             <div class="img-div">
                                <img alt="" src="../images/p-img1.png">
                             </div>
                             <h4>Tech gift 1.</h4>
                             <p>Lorem Ipsum is simply dummy text of the printing and types, when an unknown printer took a galley of type and scrambled it.</p>
                             <a href="#" class="choose-btn">Go choose</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="post-div">
                             <div class="img-div">
                                <img alt="" src="../images/p-img2.png">
                             </div>
                             <h4>Tech gift 2.</h4>
                             <p>Lorem Ipsum is simply dummy text of the printing and types, when an unknown printer took a galley of type and scrambled it.</p>
                             <a href="#" class="choose-btn">Go choose</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="post-div">
                             <div class="img-div">
                                <img alt="" src="../images/p-img3.png">
                             </div>
                             <h4>Tech gift 3.</h4>
                             <p>Lorem Ipsum is simply dummy text of the printing and types, when an unknown printer took a galley of type and scrambled it.</p>
                             <a href="#" class="choose-btn">Go choose</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gobak">
          <div class="container">
            <a href="#"><img src="../images/product/go-back.png" alt=""/></a>
          </div>
        </section>
        
        <!-- FOOTER -->
        <footer class="section bg-gray footer">
            
                <div class="container">
               	<div class="row">
                	<div class="col-sm-9">
                    	<ul class="footer-link">
                        	<li><a href="#">Answers to your questions</a></li>
                            <li><a href="#">The legal bit</a></li>
                            <li><a href="#">About privacy</a></li>
                            <li><a href="#">Get in touch</a></li>
                        </ul>
                    	
                    </div>
                    <div class="col-sm-3 text-right">
                    	<img alt="" src="../images/f-bg-right.png">
                    </div>        

                </div> <!-- end container --> 
            </div> <!-- end row -->

        </footer>
        <!-- END FOOTER -->

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../js/jquery-2.1.4.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>

        <!-- Jquery easing -->                                                      
        <script type="text/javascript" src="../js/jquery.easing.1.3.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="../js/jquery.sticky.js"></script>

        <!-- mailchimp - ajax form -->
        <script type="text/javascript" src="../js/jquery.ajaxchimp.js"></script>

        <!--common script for all pages-->
        <script src="../js/jquery.app.js"></script>

    </body>
</html>